@font-face {
  font-family: 'gilroy';
  src: url(../fonts/Gilroy-Regular.woff) format(woff);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'gilroy', sans-serif;
}

html, body {
  font-size: 16px;
  min-height: calc(100% - 60px);
  position: relative;
}
body::after {
  content: '';
  height: 60px;
  display: block;
}

.hide {
  display: none;
}

.fade-in {
  -webkit-animation: fade 0.5s ease-in-out;
          animation: fade 0.5s ease-in-out;
}

div.cover {
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  justify-items: center;
  align-items: center;
  pointer-events: all;
  z-index: 100;
}


/*==== Loading Anime start ==== */
div.cover .ring {
  display: grid;
  position: relative;
  place-items: center;
  width: 150px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #fefe;
  letter-spacing: 4px;
  background-color: rgba(20, 20, 20, 0.2);
  text-shadow: 0 0 10px rgba(250, 229, 250, 0.3);
  box-shadow: 0 0 20px rgba(20, 20, 20, .5);
}
div.cover .ring::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid #fefe;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}
div.cover .ring::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid #fefe;
  border-radius: 50%;
  animation: animate 3s linear infinite;
}
div.cover span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 4px;
  background-color: transparent;
  transform-origin: left;
  animation: span 2s linear infinite;
}
div.cover span::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff000;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 20px #fff000;
}
@keyframes animate {
  0% {
      transform: rotate(-45deg);
  }
  100% {
      transform: rotate(315deg);
  }
}
@keyframes span {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/*==== Loading Anime end ==== */


@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: #f3f2f2;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

.logo img {
  width: 60px;
}

.logo p {
  font-weight: bold;
  color: #6a149b;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li:last-child {
  padding-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #6a149b;
  padding: 10px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.stats {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.6))), url(../img/bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url(../img/bg.jpg);
  background-size: cover;
}

.latest-report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
  color: #fff;
  padding-top: 50px;
}
.latest-report > div { 
  min-width: 150px;
}
.country .date {
  font-size: 13px;
  color: rgba(255,255,255,.7);
  margin: 10px 0;
}

.country, .total-cases, .recovered, .deaths {
  height: auto;
  margin-bottom: 20px;
}

.name {
  font-size: 2.2em;
  color: #be64f1;
  font-weight: bold;
  max-width: 250px;
  position: relative;
}
.name::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  transition: width 500ms ease;
  background-color: rgba(23, 139, 248, 0.8);
  bottom: 0;
  transition-delay: 800ms;
  pointer-events: none;
  filter: blur(4px);
}
.name.loading::after {
  transition-delay: unset;
  width: 100%;
}

.change-country {
  cursor: pointer;
  font-size: 13px;
  color: #fefe;
  padding: 10px 5px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #007eab;
  text-transform: uppercase;
  transition: transform 30ms ease-in-out;
  transform: scale(1.01);
}
.change-country:active {
  transform: scale(.8);
}

.title {
  font-size: 1.3em;
  width: min-content;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255,255,255,.2);
}

.total-cases .value {
  font-size: 2em;
  font-weight: bold;
}

.recovered .value {
  font-size: 2em;
  font-weight: bold;
  color: #006988;
}

.deaths .value {
  font-size: 2em;
  font-weight: bold;
  color: #f44366;
}

.new-value {
  font-size: 1.3em;
}

.chart {
  width: 80%;
  height: 70vh;
  min-height: 500px;
  margin: 0 auto;
  padding: 50px 0;
}

.search-country {
  position: relative;
  top: 10px;
}

.search-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 150px;
  max-width: 500px;
  width: calc(100vw - 70px);
  height: 30px;
  background-color: #111;
  z-index: 1;
}

.search-box img {
  width: 20px;
  cursor: pointer;
  transition: transform 300ms linear;
  padding: 3px;
}
.search-box img:hover {
  transform: rotateZ(20deg);
}

.search-box input {
  max-width: 360px;
  width: calc(100% - 20px);
  height: 25px;
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 3px 3px 3px 15px;
  font-size: 14px;
}

.country-list {
  position: absolute;
  top: 30px;
  min-width: 150px;
  max-width: 500px;
  width: calc(100vw - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 300px;
  background-color: #111;
  opacity: 0.9;
  overflow-y: auto;
  overflow-x: hidden;

}
@supports(display: grid) {
  .country-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: min-content;
    align-items: start;
  }
}

.country-list > ul {
  width: min-content;
  min-width: 150px;
}

.country-list ul li {
  list-style: none;
  cursor: pointer;
  padding: 10px;
  color: #fff;
}

.country-list ul li:hover {
  border-left: 1px solid #fff;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: #6a149b;
}

.footer-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.copyright {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.copyright p {
  color: #fff;
}

@media screen and (max-width: 900px) {
  .latest-report {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .total-cases, .recovered, .deaths {
    align-self: flex-end;
    align-self: flex-end;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 10px;
    padding: 10px;
  }
}